<ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Science Quiz</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content> <div class="ion-padding">
      <a href="#">Back</a>
    <ion-list>
      <ion-item><ion-label><h1>Correct Answers Are :</h1>  <br></ion-label></ion-item>
      
          <ion-item>
              <ion-label>Sodium chloride<br></ion-label><!--correct Answer-->
            </ion-item>
  
          <ion-item>
              <ion-label> Copper and zinc <br></ion-label>
          </ion-item>
  
          <ion-item>
              <ion-label> Fungi<br></ion-label><!--correct Answer--> </ion-item>
  
            <ion-item>
              <ion-label>Hydrogen <br></ion-label><!--correct Answer-->
            </ion-item>
  
          <ion-item>
              <ion-label>Nitrogen <br></ion-label>
          </ion-item>
  
          <ion-item>
              <ion-label> <br></ion-label>
          </ion-item>
          
      </ion-list></div>
     
  
  </ion-content>
  