ion-toolbar{
    text-align: center;
    //color: black;
}
ion-content{
    --ion-background-color:rgb(19, 30, 59);
}
ion-list{
    color: aliceblue;
}
h3{
    color: aliceblue;
}
on-list-header{
    color: aliceblue;
}
ion-item{
    color: aliceblue;
}

h2{
    color: aliceblue;
}