<ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Brain Quiz</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content> <div class="ion-padding">
      <a href="#">Back</a>
    <ion-list>
      <ion-item><ion-label><h1>Correct Answers Are :</h1>  <br></ion-label></ion-item>
      
          <ion-item>
              <ion-label>1.4 grams<br></ion-label><!--correct Answer-->
            </ion-item>
  
          <ion-item>
              <ion-label> 250,000 per minute <br></ion-label>
          </ion-item>
  
          <ion-item>
              <ion-label> Left<br></ion-label><!--correct Answer--> </ion-item>
  
            <ion-item>
              <ion-label>180,000 kilometres <br></ion-label><!--correct Answer-->
            </ion-item>
  
          <ion-item>
              <ion-label> Up to 120 metre per minute <br></ion-label>
          </ion-item>
  
          <ion-item>
              <ion-label> <br></ion-label>
          </ion-item>
          
      </ion-list></div>
     
  
  </ion-content>
  