ion-toolbar{
    text-align: center;
}

ion-content{
    --ion-background-color:rgb(19, 30, 59);
}
h1{
    //--ion-background-color:rgba(11, 3, 31, 0.651);
  --background:url(../../assets/images/quizBg.png)0 0/100% no-repeat;

}