<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>Science Quiz</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-list>
            <ion-radio-group>
              <ion-list-header>
                  <h3>What is the first element on the periodic table?</h3>
              </ion-list-header>
          
              <ion-item>
                  <ion-label> <input type="radio" [(ngModel)]="yourSelectedRadioValue" (click)="click1()" name="periodic" value="Sodium"> Sodium<br></ion-label>
                </ion-item>
              <ion-item>
                  <ion-label> <input type="radio"  [(ngModel)]="yourSelectedRadioValue" (click)="click2()" name="periodic" value="Oxygen"> Oxygen<br></ion-label>
              </ion-item>
              <ion-item>
              <ion-label> <input type="radio"  [(ngModel)]="yourSelectedRadioValue"(click)="click3()" name="periodic" value="Hydrogen"> Hydrogen<br></ion-label><!--correct Answer-->
                </ion-item>
              <ion-item>
                  <ion-label> <input type="radio" [(ngModel)]="yourSelectedRadioValue" (click)="click4()" name="periodic" value="Volcanos"> Volcanos<br></ion-label> 
              </ion-item>
            </ion-radio-group>
    
            <ion-item><ion-label><ion-button class="myaddto22" [disabled]="!yourSelectedRadioValue"  (click)="GoTo4()"  shape="round" expand="full" color="secondary">Submit</ion-button><br></ion-label></ion-item>
          </ion-list></div>
</ion-content>
