<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>General Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> <div class="ion-padding">
    <a href="#">Back</a>
  <ion-list>
    <ion-item><ion-label><h1>Correct Answers Are :</h1>  <br></ion-label></ion-item>
    
        <ion-item>
            <ion-label> 1955<br></ion-label><!--correct Answer-->
          </ion-item>

        <ion-item>
            <ion-label>Jupiter <br></ion-label>
        </ion-item>

        <ion-item>
            <ion-label> 44<br></ion-label><!--correct Answer--> </ion-item>

          <ion-item>
            <ion-label>Blue <br></ion-label><!--correct Answer-->
          </ion-item>

        <ion-item>
            <ion-label>Pod <br></ion-label>
        </ion-item>

        <ion-item>
            <ion-label> <br></ion-label>
        </ion-item>
        
    </ion-list></div>
   

</ion-content>
